@page "/schedule"
@page "/"
@* ----------------------------- USING & INYECCIONES ----------------------------- *@
@using AppointmentPlanner.Data
@using AppointmentPlanner.Models
@using ExpenseTracker.Models
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Microsoft.JSInterop
@using KavaPryct.Components.Models
@using KavaPryct.Services

@inject EmpleadoRemoteService EmployeService
@inject CitasService CitasService
@inject AppointmentService Service
@inject PacienteService PacienteService
@inject TransactionService transactionService
@inject IJSRuntime JsRuntime

@implements IDisposable

@* ----------------------------- UI ----------------------------- *@
<SfMessage Severity="@currentSeverity" Visible="isMsgVisible">@SfMessageText</SfMessage>
@if (isDataLoaded)
{
    <div class="planner-calendar">
        <div class="drag-sample-wrapper droppable">
            <div class="col-lg-9 col-md-9 col-sm-9" style="padding:0">
                <div class="schedule-container e-droppable">
                    <SfSchedule ID="schedule"
                                TValue="CitasModel"
                                @ref="scheduleObj"
                                Width="100%" Height="800px"
                                EnableAutoRowHeight="true"
                                CssClass="doctor-appointment-planner sched-compact"
                                ShowWeekend="false"
                                StartHour="@startHour"
                                EndHour="@endHour"
                                @bind-SelectedDate="@currentDate"
                                WorkDays="@workDay"
                                FirstDayOfWeek="@calendarDayOfWeek"
                                @bind-CurrentView="@sceduleView"
                                TimeFormat="HH:mm" >

                        <ScheduleEvents TValue="CitasModel"
                                        OnPopupOpen="OnPopupOpen"
                                        OnCellClick="OnCellClick"
                                        OnActionBegin="OnActionBegin"
                                        ActionCompleted="OnActionComplete" EventRendered="OnEventRendered">
                        </ScheduleEvents>

                        <ScheduleWorkHours Start="10:00" End="20:00"></ScheduleWorkHours>

                        <ScheduleEventSettings DataSource="@scheduleEventData"
                                               ResourceColorField="@resourceColorField"
                                               AllowEditFollowingEvents="@editUpcoming">
                            <ScheduleField>
                                <FieldId        Name="ObjectId"></FieldId> 
                                <FieldSubject Name="PacienteNombre" ></FieldSubject>
                                <FieldStartTime Name="StartLocal" Title="Desde"></FieldStartTime>
                                <FieldEndTime Name="EndLocal" Title="Hasta"></FieldEndTime>
                                @* No pedimos End; lo calculamos a +1h *@
                                <FieldDescription Name="MotivoConsulta" Title="Motivo de Consulta"></FieldDescription>
                            </ScheduleField>
                        </ScheduleEventSettings>
                        <ScheduleTemplates>
                            <EditorTemplate>
                                @{
                                    var c = context as CitasModel;
                                    var p = context as PacienteModel;
                                }
                                <div class="e-editor">
                                    <div class="e-row">
                                        <div class="e-col-3">
                                            <SfCheckBox TValue="bool"
                                                        Label="Paciente nuevo"
                                                        Checked="@NuevoPaciente"
                                                        CheckedChanged="@((bool v) => OnNuevoPacienteChanged(v, c))">
                                            </SfCheckBox>
                                        </div>
                                        @if (!NuevoPaciente)
                                        {
                                            <div class="e-col-6">
                                                <label>Selecciona paciente</label>
                                                <SfDropDownList TItem="PacienteModel" TValue="string"
                                                                DataSource="@PacientesDS"
                                                                Placeholder="Buscar paciente..."
                                                                AllowFiltering="true"
                                                                PopupHeight="260px"
                                                                ShowClearButton="true"
                                                                @bind-Value="PacienteSeleccionadoId">
                                                    <DropDownListFieldSettings Text="PacienteNombre" Value="ObjectId" />
                                                    <DropDownListEvents TItem="PacienteModel" TValue="string"
                                                                        ValueChange="@( (Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, PacienteModel> e) => OnPacienteChanged(e, c) )" />
                                                    <DropDownListTemplates TItem="PacienteModel">
                                                        <ItemTemplate Context="p">
                                                            <div>
                                                                <span class="name">@p.PacienteNombre</span>
                                                            </div>
                                                        </ItemTemplate>
                                                        <ValueTemplate Context="sel">
                                                            <div>
                                                                <span class="name">@sel.PacienteNombre</span>
                                                            </div>
                                                        </ValueTemplate>
                                                    </DropDownListTemplates>
                                                </SfDropDownList>
                                                <span>ID: @c.PacienteObjectId</span>
                                            </div>
                                        }

                                        <div class="e-col-6">
                                            <label>Nombre completo</label>
                                            <SfTextBox @bind-Value="c.PacienteNombre" CssClass="input-style input-uppercase"></SfTextBox>
                                        </div>
                                        <div class="e-row">
                                            <div class="e-col-4">
                                                <label>Tipo de paciente</label>
                                                <SfDropDownList TItem="KeyValuePair<int,string>" TValue="int"
                                                                DataSource="@tipoPacienteOptions"
                                                                @bind-Value="c.PacienteTypeId"
                                                                PopupHeight="220px">
                                                    <DropDownListFieldSettings Text="Value" Value="Key" />
                                                    <DropDownListEvents TItem="KeyValuePair<int,string>" TValue="int"
                                                                        ValueChange="@(e => OnPacienteTypeChanged(e, c))" />
                                                </SfDropDownList>
                                                
                                            </div>
                                            <div class="e-col-8">
                                                <label>Motivo de consulta</label>
                                                <SfTextBox @bind-Value="c.MotivoConsulta" Multiline="true" CssClass="input-style input-uppercase"></SfTextBox>
                                            </div>

                                        </div>

                                        <div class="education-container">
                                            <div class="department">
                                                <label>Edad</label>
                                                <SfNumericTextBox TValue="int" @bind-Value="c.PacienteEdad" Min="0" Max="120"></SfNumericTextBox>
                                            </div>
                                            @if(c.PacienteTypeId == 2 || c.PacienteTypeId == 3)
                                            {

                                                <div class="department">
                                                    <label>Edad</label>
                                                    <SfNumericTextBox TValue="int" @bind-Value="c.PacienteEdad1" Min="0" Max="120"></SfNumericTextBox>
                                                </div>
                                            }
                                            
                                        </div>
                                        <div class="education-container">
                                            <div class="department">
                                                <SfMaskedTextBox CssClass="e-field with-icon-left"
                                                                 @ref="maskObj"
                                                                 Placeholder="Celular"
                                                                 FloatLabelType="@FloatLabelType.Always"
                                                                 @bind-Value="@c.PacienteCelular"
                                                                 Mask="(999) 999-9999"></SfMaskedTextBox>
                                            </div>
                                            @if (c.PacienteTypeId == 2 || c.PacienteTypeId == 3)
                                            {

                                                <div class="department">
                                                    <SfMaskedTextBox CssClass="e-field with-icon-left"
                                                                     @ref="maskObj"
                                                                     Placeholder="Celular"
                                                                     FloatLabelType="@FloatLabelType.Always"
                                                                     @bind-Value="@c.PacienteCelular1"
                                                                     Mask="(999) 999-9999"></SfMaskedTextBox>
                                                </div>
                                            }
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="email-container">
                                        <SfTextBox CssClass='e-field' Placeholder='Dirección (Ej. Calle ##, Colonia)' FloatLabelType="@FloatLabelType.Always" @bind-Value="@c.PacienteDomicilio"></SfTextBox>
                                        <ValidationMessage For="@(() => c.PacienteDomicilio)" />
                                    </div>
                                    <div class="Education" style="width:345px">
                                        <div class="education-container">
                                            <div class="department">
                                                <label>Último grado de Estudios</label>
                                                <SfDropDownList ID="estudiosint" TItem="KeyValuePair<int,string>" TValue="int"
                                                                DataSource="@GdoEstudios" @bind-Value="@c.EstudiosLast"
                                                                PopupHeight="220px">
                                                    <DropDownListFieldSettings Text="Value" Value="Key"></DropDownListFieldSettings>
                                                    </SfDropDownList>
                                            </div>
                                            @if (c.PacienteTypeId == 2 || c.PacienteTypeId == 3)
                                            {

                                                <div class="department">
                                                    <label>Último grado de Estudios</label>
                                                    <SfDropDownList ID="estudiosint" TItem="KeyValuePair<int,string>" TValue="int"
                                                                    DataSource="@GdoEstudios" @bind-Value="@c.EstudiosLast1"
                                                                    PopupHeight="220px">
                                                        <DropDownListFieldSettings Text="Value" Value="Key"></DropDownListFieldSettings>
                                                    </SfDropDownList>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                        
                                    <div class="e-row">
                                        <div class="e-col-8">
                                            <label>Costo</label>
                                            <SfNumericTextBox @bind-Value="c.Amount"></SfNumericTextBox>
                                        </div>
                                        <div class="e-col-4">
                                            <label>Estatus de la Cita</label>
                                            <SfDropDownList TItem="KeyValuePair<int,string>" TValue="int"
                                                            DataSource="@EstatusCita" @bind-Value="c.StatusCitaId"
                                                            PopupHeight="220px">
                                                <DropDownListFieldSettings Text="Value" Value="Key"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                    </div>

                                    <div class="e-row">
                                        <div class="e-col-6">
                                            <label>Fecha y hora de inicio</label>
                                            <SfDateTimePicker @bind-Value="c.StartLocal"></SfDateTimePicker>
                                        </div>
                                        <div class="e-col-6">
                                            <label>Terapeuta</label>
                                            <SfDropDownList TItem="EmpleadosModel" TValue="string"
                                                            DataSource="@resourceDataSource"
                                                            @bind-Value="c.PsicoObjectId"
                                                            PopupHeight="260px">
                                                <DropDownListFieldSettings Text="NombreCorto" Value="ObjectId"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                    </div>
                                    <div class="e-row e-justify-content-end e-mt-2">
                                        <button class="e-btn e-secondary e-small" @onclick="() => AbrirReagendar(c)">Reagendar</button>
                                         <button class="e-btn e-success e-small e-ml-2" @onclick="() => MarcarConfirmar(c)">Pagar y Cerrar</button>
                                   </div>
                                </div>
                                
                            </EditorTemplate>

                            <DateHeaderTemplate>
                                <div class="e-custom-date-header date-text"
                                     title="@(getDateHeaderText((context as TemplateContext).Date))">
                                    @(getDateHeaderText((context as TemplateContext).Date).ToUpper())
                                </div>
                            </DateHeaderTemplate>
                        </ScheduleTemplates>
                        <ScheduleTimeScale Enable="true" Interval="@viewInterval" SlotCount="1"></ScheduleTimeScale>
                        <ScheduleResources>
                            <ScheduleResource TItem="EmpleadosModel" TValue="string"
                                              DataSource="@resourceDataSource"
                                              Field="PsicoObjectId"
                                              Title="Terapeuta"
                                              Name="Terapeutas"
                                              TextField="NombreCorto"
                                              IdField="ObjectId"
                                              ColorField="Color">
                            </ScheduleResource>
                        </ScheduleResources>
                        @* Sombreado de break del terapeuta activo (si tu modelo de horarios lo provee) *@
                        
                        <ScheduleSpecialTimeRegions>
                            @if (semanaHoras is not null)
                            {
                                @foreach (var h in semanaHoras)
                                {
                                    if (h.Enable && h.BreakStart.HasValue && h.BreakEnd.HasValue)
                                    {
                                        <ScheduleSpecialTimeRegion StartTime="@h.BreakStart.Value"
                                                                   EndTime="@h.BreakEnd.Value"
                                                                   IsReadOnly = "true"
                                                                   CssClass="e-break">
                                        </ScheduleSpecialTimeRegion>
                                    }
                                }
                            }
                        </ScheduleSpecialTimeRegions>

                        <ScheduleViews>
                            <ScheduleView Option="@View.Day"></ScheduleView>
                            <ScheduleView Option="@View.Week"></ScheduleView>
                            <ScheduleView Option="@View.Month"></ScheduleView>
                            <ScheduleView Option="@View.TimelineDay" >
                                <ScheduleViewGroup EnableCompactView="false" Resources="@resourceGroup"></ScheduleViewGroup>
                            </ScheduleView>
                            <ScheduleView Option="@View.TimelineWeek">
                                <ScheduleViewGroup EnableCompactView="false" Resources="@resourceGroup"></ScheduleViewGroup>
                            </ScheduleView>
                            <ScheduleView Option="@View.TimelineWorkWeek">
                                <ScheduleViewGroup EnableCompactView="false" Resources="@resourceGroup"></ScheduleViewGroup>
                            </ScheduleView>
                            <ScheduleView Option="@View.TimelineMonth">
                                <ScheduleViewGroup EnableCompactView="false" Resources="@resourceGroup"></ScheduleViewGroup>
                            </ScheduleView>
                        </ScheduleViews>

                        
                    </SfSchedule>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 treeview-container-wrapper">
                <div class="treeview-container">
                    <div>
                        @* Selector de terapeuta (Empleado). Value = ObjectId *@
                        <SfDropDownList TItem="EmpleadosModel"
                                        TValue="string"
                                        @ref="ddlObj"
                                        Placeholder="Elige terapeuta"
                                        Width="220px"
                                        DataSource="@resourceDataSource"
                                        CssClass="planner-dropdown"
                                        ShowClearButton="true">
                            <DropDownListFieldSettings Text="NombreCorto" Value="ObjectId"></DropDownListFieldSettings>
                            <DropDownListEvents TItem="EmpleadosModel" TValue="string" ValueChange="OnEmpleadoChange"></DropDownListEvents>

                            <DropDownListTemplates TItem="EmpleadosModel">
                                <ItemTemplate>
                                    @{
                                        var emp = context as EmpleadosModel;
                                    }
                                    <div class="specialist-item">
                                        <div class="doctor-details">
                                            <div class="name">@(emp?.NombreCorto)</div>
                                        </div>
                                    </div>
                                </ItemTemplate>
                            </DropDownListTemplates>
                        </SfDropDownList>
                    </div>

                    <div class="title-container">
                        <h2 class="title-text">LISTA DE ESPERA</h2>
                    </div>

                    @* ---------- TREEVIEW: todas las citas con StatusCitaId == 1 ---------- *@
                    <SfTreeView TValue="CitasModel"
                                LoadOnDemand="false"
                                CssClass="treeview-external-drag"
                                AllowDragAndDrop="true">
                        <TreeViewFieldsSettings Id="ObjectId"
                                                Text="PacienteNombre"
                                                DataSource="@waitingList">
                        </TreeViewFieldsSettings>
                        <TreeViewEvents TValue="CitasModel" OnNodeDragStop="NodeDragStop"></TreeViewEvents>
                        <TreeViewTemplates TValue="CitasModel">
                            <NodeTemplate>
                                @{
                                    var c = context as CitasModel;
                                }
                                <div id="waiting">
                                    <div id="waitdetails">
                                        <div id="waitlist">@c?.PacienteNombre</div>
                                        <div id="event-time">@getEventTime(c)</div>
                                        <div id="waitcategory">@c?.MotivoConsulta</div>
                                    </div>
                                    <div id="item-icon-container">
                                        <span class="item-icon icon-reorder"></span>
                                    </div>
                                </div>
                            </NodeTemplate>
                        </TreeViewTemplates>
                    </SfTreeView>
                    <div>
                        @foreach (var item in Legend)
                        {
                            <div class="legend-item" title="@item.Text">
                                <span class="legend-swatch" style="background:@item.Bg;border-color:@item.Bc;"></span>
                                <span class="legend-text" style="@((item.Strike ? "text-decoration:line-through;" : null))">
                                    @item.Text
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (dialogReagendarVisible)
    {
        <SfDialog @bind-Visible="dialogReagendarVisible"
                  IsModal="true"
                  Width="420px"
                  ShowCloseIcon="true"
                  Header="Reagendar">
            <div class="e-mb-3">
                <label>Nueva fecha/hora</label>
                <SfDateTimePicker @bind-Value="nuevoInicio" />
            </div>
            <div>
                <label>Termina</label>
                <SfDateTimePicker @bind-Value="nuevoFin" />
            </div>
            <div class="e-d-flex e-justify-content-end e-mt-3">
                <button class="e-btn e-flat" @onclick="() => dialogReagendarVisible = false">Cancelar</button>
                <button class="e-btn e-primary e-ml-2" @onclick="ConfirmarReagendo">Guardar</button>
            </div>
        </SfDialog>
    } // -------- REAGENDAR -------- 
    @if (dialogPayVisible)
    {
        <SfDialog @bind-Visible="dialogPayVisible"
                  IsModal="true"
                  Width="420px"
                  ShowCloseIcon="true"
                  Header="Pagar y Cerrar">
            <div class="e-mb-3">
                <label>Nueva fecha/hora</label>
                <label>Método de Pago</label>
                <SfDropDownList TItem="KeyValuePair<int,string>" TValue="int"
                                DataSource="@PayMethods" @bind-Value="Paymethod"
                                PopupHeight="220px">
                    <DropDownListFieldSettings Text="Value" Value="Key"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
            <div class="e-d-flex e-justify-content-end e-mt-3">
                <button class="e-btn e-flat" @onclick="() => dialogPayVisible = false">Cancelar</button>
                <button class="e-btn e-primary e-ml-2" @onclick="ConfirmarPago">Guardar</button>
            </div>
        </SfDialog>
    } // -------- CONFIRMAR PAGO -------- 
    @if (dialogEsperaVisible)
    {
        <SfDialog Visible="true" IsModal="true" Width="460px" Header="Enviar a lista de espera"
                  ShowCloseIcon="true" >
            <p>La cita está en estado <b>Asignada</b> por lo que la cita se mostrará en Lista de Espera</p>
            <div class="e-d-flex justify-content-end e-mt-3">
                <button class="e-btn e-flat" @onclick="() => dialogEsperaVisible = false">Ok</button>
            </div>
        </SfDialog>
    } // -------- AVISO LISTA DE ESPERA -------- 
}
else
{
    
    <div class="planner-dashboard-skeleton">
        <div class="appointments-skeleton">
            <SfSkeleton Shape="Syncfusion.Blazor.Notifications.SkeletonType.Rectangle" Height="780px" Width="90%"></SfSkeleton><br />
        </div>
        <div class="activities-skeleton">
            @for (int i = 0; i < 10; i++)
            {
                <SfSkeleton Shape="Syncfusion.Blazor.Notifications.SkeletonType.Rectangle" Height="3%" Width="80%"></SfSkeleton>
                <br />
                <SfSkeleton Shape="Syncfusion.Blazor.Notifications.SkeletonType.Rectangle" Height="3%" Width="60%"></SfSkeleton>
                <br /><br />
            }
        </div>
    </div>
} 

<style>
    .e-break {
        background: rgba(255, 99, 71, .15);
    }

    .input-uppercase input {
        text-transform: uppercase;
    }

    .schedule-legend {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem 1rem;
        align-items: center;
        margin: .5rem 0 1rem 0;
        font-size: .925rem;
    }

        .schedule-legend .legend-item {
            display: flex;
            align-items: center;
            gap: .5rem;
            white-space: nowrap;
        }

    .legend-swatch {
        width: 14px;
        height: 14px;
        border: 2px solid transparent;
        border-radius: 3px;
        display: inline-block;
        box-shadow: 0 0 0 1px rgba(0,0,0,.06) inset;
    }

    .legend-text {
        line-height: 1;
    }
    /* Compáctalo en todas las vistas */
    .sched-compact .e-appointment {
        padding: 2px 4px; /* menos padding */
    }

        /* Texto del evento (asunto, hora, etc.) */
        .sched-compact .e-appointment .e-subject,
        .sched-compact .e-appointment .e-time,
        .sched-compact .e-appointment .e-location,
        .sched-compact .e-appointment .e-appointment-details {
            font-size: 12px !important;
            line-height: 1.1;
        }

    /* Mes suele necesitar aún más chico */
    .sched-compact .e-month-view .e-appointment .e-subject {
        font-size: 11px !important;
    }

    /* Timeline / vertical por si quieres ajustar distinto (opcional) */
    .sched-compact .e-timeline-view .e-appointment .e-subject,
    .sched-compact .e-vertical-view .e-appointment .e-subject {
        font-size: 10px !important;
    }

    /* (Opcional) Compacta la altura de filas en Day/Week */
    .sched-compact .e-work-cells {
        line-height: 1.1;
    }

    .e-control-wrapper.with-icon-left,
    .e-control-wrapper.with-icon-right {
        position: center;
    }

        /* Icono a la izquierda */
        .e-control-wrapper.with-icon-left input {
            padding: 1.5em; /* deja espacio para el icono */
        }

        .e-control-wrapper.with-icon-left::before {
            content: '\ed53'; /* código del glifo */
            font-family: "fontello";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            opacity: .7;
            pointer-events: none;
        }


        /* Icono a la derecha */
        .e-control-wrapper.with-icon-right input {
            padding-right: 2rem;
        }

        .net-msg {
          position: sticky;
          top: 0;
          z-index: 1000;
          margin-bottom: .5rem;
        }


</style>
@code {
    #region REFERENCIAS Y ESTADO
    private SfMaskedTextBox maskObj { get; set; }
    SfSchedule<CitasModel> scheduleObj { get; set; }
    SfDropDownList<string, EmpleadosModel> ddlObj { get; set; }
    private bool dialogReagendarVisible;
    private bool dialogPayVisible;
    private int Paymethod;
    private List<KeyValuePair<int, string>> PayMethods => Enum.GetValues(typeof(MetodosPago)).Cast<MetodosPago>().Select(p => new KeyValuePair<int, string>((int)p, p.ToString())).ToList();
    private CitasModel? editando;
    private DateTime nuevoInicio, nuevoFin;
    private bool isDataLoaded;
    private bool editUpcoming = false;
    private int viewInterval = 60;
    private int calendarDayOfWeek = 1; // Lunes
    private string resourceColorField;
    private DateTime currentDate;
    private string startHour;
    private string endHour;
    private int[] workDay = new int[] { 1, 2, 3, 4, 5, 6 }; // Domingo..Sábado
    private View sceduleView;
    private List<EmpleadosModel> Psicos = new List<EmpleadosModel>();
    private List<CitasModel> scheduleEventData = new();
    private List<EmpleadosModel> resourceDataSource = new();
    private string[] resourceGroup { get; set; }
    // Empleado activo y sus horarios (TIPOS definidos en tu carpeta Models)
    private EmpleadosModel empleadoActivo;
    private WorkHours horasEmpleadoActivo;                 // Reglas base (por día, definido en tus Models)
    private List<AnchoredWorkDay> semanaHoras;             // Reglas ancladas a la semana visible (definido en tus Models)
    private List<KeyValuePair<int, string>> tipoPacienteOptions =>
    Enum.GetValues(typeof(TipoPaciente))
        .Cast<TipoPaciente>()
        .Select(e => new KeyValuePair<int, string>((int)e, e.ToString()))
        .ToList();

    private List<KeyValuePair<int, string>> EstatusCita => Enum.GetValues(typeof(EstatusCita))
                                                                .Cast<EstatusCita>().Select(c => new KeyValuePair<int, string>((int)c, c.ToString())).ToList();
    private List<KeyValuePair<int, string>> GdoEstudios =>
    Enum.GetValues(typeof(UltimoGradoEstudios))
        .Cast<UltimoGradoEstudios>()
        .Select(e => new KeyValuePair<int, string>((int)e, e.ToString()))
        .ToList();

    private bool isMsgVisible = false;
    private MessageSeverity currentSeverity = MessageSeverity.Info;
    private string SfMessageText;
    // Estado UI (puedes inicializarlos al abrir el editor)
    private bool NuevoPaciente = true;                // Por defecto, “nuevo”
    private string? PacienteSeleccionadoId = null;    // Valor del DropDown

    // Fuentes de datos
    private List<PacienteModel> PacientesDS = new();  // Llénala antes de abrir el editor

    // Waiting list: TODAS las citas con StatusCitaId == 1 (filtrada desde scheduleEventData)
    private List<CitasModel> waitingList = new();

    private readonly TimeSpan _pollEvery = TimeSpan.FromSeconds(7); // frecuencia de chequeo
    private const int LowBarsThreshold = 1; // 0–1 barras = señal baja
    private CancellationTokenSource? _sigCts;

    #endregion





    #region CICLO DE VIDA 
    protected override async Task OnInitializedAsync()
    {
        CommonService.OnlineStatusChanged += HandleOnlineChanged;
        // Arranca el sondeo de intensidad de señal
        _sigCts = new CancellationTokenSource();
        _ = WatchSignalAsync(_sigCts.Token);
        // Config calendario desde tu servicio
        sceduleView = (View)Enum.Parse(typeof(View), Service.CalendarSettings.CurrentView as string);
        currentDate = Service.StartDate;
        viewInterval = Service.CalendarSettings.Interval;
        calendarDayOfWeek = Service.CalendarSettings.FirstDayOfWeek;
        resourceColorField = Service.CalendarSettings.BookingColor;
        startHour = Service.CalendarSettings.Calendar.Start;
        endHour = Service.CalendarSettings.Calendar.End;

        // Empleados (terapeutas)
        resourceDataSource = await EmployeService.GetAllPsicosAsync();
        resourceGroup = new[] { "Terapeutas" };
        await LoadData();

    }
    private void HandleOnlineChanged(object? sender, bool online)
    {
        isDataLoaded = online;
        isMsgVisible = !online;
        if (!online)
        {
            SfMessageText = "Sin Conexión a Internet";
            currentSeverity = MessageSeverity.Error;
        }


        InvokeAsync(StateHasChanged);
    }
    private async Task WatchSignalAsync(CancellationToken ct)
    {
        try
        {
            var timer = new PeriodicTimer(_pollEvery);
            while (await timer.WaitForNextTickAsync(ct))
            {
                var sig = CommonService.GetSignalInfo();           // Bars: 0..4 (Android y Windows normalizado)
                var online = await CommonService.IsInternetReachableAsync(ct);

                // Definición de “señal baja”:
                // - barras 0..LowBarsThreshold  => baja
                // - barras null pero sin Internet => baja
                bool lowSignal = (sig.Bars.HasValue && sig.Bars.Value <= LowBarsThreshold)
                                 || (!sig.Bars.HasValue && !online);

                if (!online)
                {
                    currentSeverity = MessageSeverity.Info;
                    SfMessageText = "Conexión a Internet fallando. Algunas acciones pueden funcionar con error.";
                    isMsgVisible = true;
                }
                else if (lowSignal)
                {
                    currentSeverity = MessageSeverity.Warning;
                    SfMessageText = BuildLowSignalText(sig);
                    isMsgVisible = true;
                }
                else
                {
                    // Buena señal y online → ocultar
                    if (isMsgVisible)
                        isMsgVisible = false;
                }

                await InvokeAsync(StateHasChanged);
            }
        }
        catch (OperationCanceledException) { /* cierre normal */ }
    }

    private static string BuildLowSignalText(SignalInfo sig)
    {
        // Ejemplos:
        // Wi-Fi “MiRed” — señal baja (1/4 barras, −70 dBm)
        // Celular — señal baja (0/4 barras)
        var transport = sig.Transport switch
        {
            NetTransport.Wifi => "Wi-Fi",
            NetTransport.Cellular => "Celular",
            NetTransport.Ethernet => "Ethernet",
            _ => "Red"
        };

        var name = !string.IsNullOrWhiteSpace(sig.Extra) ? $" “{sig.Extra}”" : string.Empty;
        var bars = sig.Bars.HasValue ? $"{sig.Bars}/4 barras" : "barras desconocidas";
        var rssi = sig.RssiDbm.HasValue ? $", {sig.RssiDbm} dBm" : string.Empty;

        return $"{transport}{name} — señal baja ({bars}{rssi}). Pueden ocurrir lentitudes o fallos.";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadData();
        }
    }
    private static (string bg,string bc, string fg, bool strike) GetStatusColor(CitasModel c)
    {

        switch ((EstatusCita)c.StatusCitaId)
        {
            case Services.EstatusCita.Asignada: return ("#7c4266", "#7c4266", "#FFFFFF", false);
            case Services.EstatusCita.Inasistencia: return ("#7B8089","3C3E42", "#FFFFFF", false);
            case Services.EstatusCita.Cancelada: return ("#FF2A04","#661102", "#FFFFFF", true);
            case Services.EstatusCita.Confirmada: return ("#1a4c62", "#64D9FF", "#FFFFFF", false);
            case Services.EstatusCita.ReAgendada: return ("#FFAF3D","#664618" ,"#664618", false);
            case Services.EstatusCita.Asistencia: return ("#005A00", "#005A00", "#FFFFFF", false);
            default: return ("#7B8089","3C3E42", "#FFFFFF", false);

        }
    }
    private static (string bg, string bc, string fg, bool strike) GetStatusColorsByEnum(EstatusCita s)
    {
        // Reutiliza los mismos colores que usas en GetStatusColors
        return s switch
        {

            Services.EstatusCita.Asignada => ("#7c4266", "#363675", "#FFFFFF", false),
            Services.EstatusCita.Confirmada => ("#1a4c62", "#64D9FF", "#FFFFFF", false),
            Services.EstatusCita.ReAgendada => ("#FFAF3D","#664618" ,"#664618", false),
            Services.EstatusCita.Cancelada => ("#FF2A04","#661102", "#FFFFFF", false),
            Services.EstatusCita.Asistencia => ("#005A00", "#005A00", "#FFFFFF", false),
            Services.EstatusCita.Inasistencia => ("#7B8089","3C3E42", "#FFFFFF", false),
            _ => ("#7B8089","3C3E42", "#FFFFFF", false),
        };
    }
    private record LegendItem(string Text, string Bg, string Bc, bool Strike);

    private IEnumerable<LegendItem> Legend =>
        new[]
        {
        (Services.EstatusCita.Confirmada,  "Confirmada"),
        (Services.EstatusCita.Asignada,    "Asignada"),
        (Services.EstatusCita.ReAgendada,  "Reagendada"),
        (Services.EstatusCita.Cancelada,   "Cancelada"),
        (Services.EstatusCita.Asistencia,  "Asistencia"),
        (Services.EstatusCita.Inasistencia,"Inasistencia"),
        }
        .Select(t =>
        {
            var (bg, bc,fg, strike) = GetStatusColorsByEnum(t.Item1);
            return new LegendItem(t.Item2, bg, bc, strike);
        });
    private async Task LoadData()
    {
        // Trae todas las citas inicialmente (sin filtro)
        var citas = await CitasService.GetAllCitasAsync();
        scheduleEventData = citas?.Where(c=>c.StatusCitaId != 2).OrderBy(c => c.StartLocal).ToList() ?? new();

        // Waiting list = todas con StatusCitaId == 1
        RefreshWaitingListFromCurrent(citas);

        // Sin terapeuta seleccionado al inicio
        empleadoActivo = null;
        horasEmpleadoActivo = null;
        semanaHoras = null;

        isDataLoaded = true;
        StateHasChanged();
    }
    #endregion


    #region EVENTOS UI
    // Mejor Task que void para poder hacer awaits si luego los necesitas
    public async Task OnPopupOpen(PopupOpenEventArgs<CitasModel> args)
    {
        List<PacienteModel> Pacintes = await PacienteService.GetAllPacientesAsync();
        PacientesDS = Pacintes.OrderByDescending(p => p.PacienteNombre).ToList();
        if (args.Type == PopupType.Editor)
        {
            var c = args.Data ?? new CitasModel();
            bool esNuevo = string.IsNullOrEmpty(c.ObjectId); // sin id => creación

            if (esNuevo)
            {
                // defaults requeridos
                if (c.StatusCitaId == 0)
                    c.StatusCitaId = 1;

                // prefija terapeuta si tienes uno activo seleccionado
                if (string.IsNullOrEmpty(c.PsicoObjectId) && empleadoActivo is not null)
                    c.PsicoObjectId = empleadoActivo.ObjectId;

                // fechas: si no hay inicio, usa la celda/fecha seleccionada
                if (c.StartLocal == default)
                    c.StartLocal = scheduleObj.SelectedDate;

                // fin = inicio + 1 hora si falta o es inválido
                if (c.EndLocal == default || c.EndLocal <= c.StartLocal)
                    c.EndLocal = c.StartLocal.AddHours(1);

                // puedes setear otros campos por defecto aquí (tipo de paciente, etc.)
                if (c.PacienteTypeId == 0)
                    c.PacienteTypeId = (int)TipoPaciente.Individual;
            }

            // No hagas args.Cancel = true aquí (quieres mostrar el editor)
        }

        await InvokeAsync(StateHasChanged);
    }

    private bool dialogEsperaVisible;
    private CitasModel? pendiente;

    public async void OnActionBegin(ActionEventArgs<CitasModel> args)
    {

        if ((args.ActionType == ActionType.EventCreate || args.ActionType == ActionType.EventChange)
                            && (args.AddedRecords?.Count > 0 || args.ChangedRecords?.Count > 0))
        {
            var c = args.AddedRecords?.FirstOrDefault() ?? args.ChangedRecords!.First();
            // Si viene con Status 1 (pendiente) mostramos el diálogo de “Lista de espera”
            if (c.StatusCitaId == 2)
            {
                // args.Cancel = true;       // detenemos el Save interno
                pendiente = c;
                dialogEsperaVisible = true;
            }
            else
            {
                // aquí puedes aplicar defaults como +1h si hace falta
                // if (c.EndLocal == default || c.EndLocal <= c.StartLocal)

            }
            c.EndLocal = c.StartLocal.AddHours(1);
            c.PacienteObjectId = PacienteSeleccionadoId;
        }

        // Edición de una cita existente: si cambian Start, mantenemos +1h (opcional)
        if (args.ActionType == ActionType.EventChange && (args.ChangedRecords?.Count > 0))
        {
            NuevoPaciente = false;

            foreach (var c in args.ChangedRecords)
            {
                c.PacienteObjectId = PacienteSeleccionadoId;
                if (c.StartLocal != default && c.EndLocal != default && c.EndLocal <= c.StartLocal)
                {
                    var endCalc = c.StartLocal.AddHours(1);
                    c.FechaIni ??= new FechaModel { Iso = c.StartLocal };
                    c.FechaFin = new FechaModel { Iso = endCalc };
                }
            }
        }
    }
    public async Task<PacienteModel>CreatePacModel (CitasModel cita)
    {
        var paciente = new PacienteModel
        {
            MotivoConsulta = cita.MotivoConsulta,
            PacienteCelular = cita.PacienteCelular,
            PacienteEdad = cita.PacienteEdad,
            PacienteNombre = cita.PacienteNombre,
            PacienteTypeId = cita.PacienteTypeId,
            PsicoObjectId = cita.PsicoObjectId

        };
        return paciente;
    }
    public static readonly Dictionary<int,string> Display = new()
    {
        {(int)MetodosPago.Efectivo,"Efectivo"},
        {(int)MetodosPago.Otro,"Otro"},
        {(int)MetodosPago.Transferencia,"Transferencia"},
        {(int)MetodosPago.Tarjeta,"Tarjeta"},
    };
    public static string GetDisplay(int id) => Display.TryGetValue(id, out var name) ? name : id.ToString();
    public async void OnActionComplete(ActionEventArgs<CitasModel> args)
    {
        List<ExpenseData>datas= await   transactionService.GetAllTransactionsAsync();
        var newpac = new PacienteModel();
        var citaCrtd = new ParseResult();
        var Actualtran = new ExpenseData();
        if ((args.ActionType == ActionType.EventCreate || args.ActionType == ActionType.EventChange) 
        && (args.AddedRecords?.Count > 0 || args.ChangedRecords?.Count > 0))
        {

            foreach (var c in args.AddedRecords)
            {
                if(c.StatusCitaId == 10)
                {
                    if(c.PacienteObjectId == null)
                    {
                        var pac = await CreatePacModel(c);
                        newpac = await PacienteService.CreatePacienteAsync(pac);
                        c.PacienteObjectId = newpac.ObjectId;
                    }
                    if(c.ObjectId != null)
                    {
                        Actualtran = datas.Where(d => d.citaObjectId == c.ObjectId).FirstOrDefault();
                    }
                    else
                    {
                        Actualtran = null;
                    }

                    var empleadoactivo = await EmployeService.GetEmpleadoByIdAsync(c.PsicoObjectId);

                    if(Actualtran != null)
                    {
                        var updateingreso = new ExpenseData
                        {
                            Amount = c.Amount,
                            Category = "Consulta",
                            dateTime = c.EndLocal,
                            Description = $"{c.PacienteNombre}-{c.MotivoConsulta}",
                            EmployeeName = empleadoactivo.NombreCorto,
                            EmployeeObjectId = empleadoactivo.ObjectId,
                            PayMethodId = c.PayMethodId,
                            PaymentMode = GetDisplay(c.PayMethodId),
                            TransactionTypeId = 1, citaObjectId = c.ObjectId
                        };
                        await transactionService.UpdateTransactionAsync(updateingreso);
                    }
                    else
                    {
                        var newingreso = new ExpenseData
                        {
                            Amount = c.Amount,
                            Category = "Consulta",
                            dateTime = c.EndLocal,
                            Description = $"{c.PacienteNombre}-{c.MotivoConsulta}",
                            EmployeeName = empleadoactivo.NombreCorto,
                            EmployeeObjectId = empleadoactivo.ObjectId,
                            PayMethodId = c.PayMethodId,
                            PaymentMode = GetDisplay(c.PayMethodId),
                            TransactionTypeId = 1
                        };
                        await transactionService.CreateMovementeAsync(newingreso);
                    }




                }

                citaCrtd = await CitasService.CreateCitaAsync(c);
                if(citaCrtd.Ok && string.Equals(citaCrtd.Reason, "Created", StringComparison.OrdinalIgnoreCase))
                {
                    SfMessageText = $"Cita creada con éxito";
                    currentSeverity = MessageSeverity.Success;
                    isMsgVisible = true;
                }
                else
                {
                    // Mensaje de error combinando Reason + cuerpo devuelto (si existe)
                    SfMessageText = $"No se pudo crear el empleado. Motivo: {citaCrtd.Reason}" +
                              (string.IsNullOrWhiteSpace(citaCrtd.ErrorBody) ? "" : $" | Detalle: {citaCrtd.ErrorBody}");

                    currentSeverity = MessageSeverity.Error;
                    isMsgVisible = true;
                    // Muestra tu SfToast / diálogo con 'msg'
                }
                ResetPacienteValues();
            }  
            foreach(var c in args.ChangedRecords)
            {
                if (c.StatusCitaId == 10)
                {
                    if (PacienteSeleccionadoId == null)
                    {
                        var pac = await CreatePacModel(c);
                        newpac = await PacienteService.CreatePacienteAsync(pac);
                        c.PacienteObjectId = newpac.ObjectId;
                    }
                    if(c.ObjectId != null)
                    {
                        Actualtran = datas.Where(d => d.citaObjectId == c.ObjectId).FirstOrDefault();
                    }
                    else
                    {
                        Actualtran = null;
                    }                    
                    var empleadoactivo = await EmployeService.GetEmpleadoByIdAsync(c.PsicoObjectId);

                    if (Actualtran != null)
                    {
                        var updateingreso = new ExpenseData
                        {
                            Amount = c.Amount,
                            Category = "Consulta",
                            dateTime = c.EndLocal,
                            Description = $"{c.PacienteNombre}-{c.MotivoConsulta}",
                            EmployeeName = empleadoactivo.NombreCorto,
                            EmployeeObjectId = empleadoactivo.ObjectId,
                            PayMethodId = c.PayMethodId,
                            PaymentMode = GetDisplay(c.PayMethodId),
                            TransactionTypeId = 1,
                            citaObjectId = c.ObjectId
                        };
                        await transactionService.UpdateTransactionAsync(updateingreso);
                    }
                    else
                    {
                        var newingreso = new ExpenseData
                        {
                            Amount = c.Amount,
                            Category = "Consulta",
                            dateTime = c.EndLocal,
                            Description = $"{c.PacienteNombre}-{c.MotivoConsulta}",
                            EmployeeName = empleadoactivo.NombreCorto,
                            EmployeeObjectId = empleadoactivo.ObjectId,
                            PayMethodId = c.PayMethodId,
                            PaymentMode = GetDisplay(c.PayMethodId),
                            TransactionTypeId = 1
                        };
                        await transactionService.CreateMovementeAsync(newingreso);
                    }
                }else if(c.StatusCitaId == 201)
                {
                    await CitasService.UpdateCitaReagendadaAsync(c);
                    c.StatusCitaId = 1;
                    citaCrtd = await CitasService.CreateCitaAsync(c);
                    if(citaCrtd.Ok && string.Equals(citaCrtd.Reason, "Created", StringComparison.OrdinalIgnoreCase))
                    {
                        SfMessageText = $"Cita Re-Agendada con éxito";
                        currentSeverity = MessageSeverity.Success;
                        isMsgVisible = true;
                    }
                    else
                    {
                        // Mensaje de error combinando Reason + cuerpo devuelto (si existe)
                        SfMessageText = $"No se pudo crear el empleado. Motivo: {citaCrtd.Reason}" +
                                  (string.IsNullOrWhiteSpace(citaCrtd.ErrorBody) ? "" : $" | Detalle: {citaCrtd.ErrorBody}");

                        currentSeverity = MessageSeverity.Error;
                        isMsgVisible = true;
                        // Muestra tu SfToast / diálogo con 'msg'
                    }
                    ResetPacienteValues();
                    break;
                }
                await CitasService.UpdateCitaAsync(c);

            }
            await LoadData();
        }
        else if (args.ActionType == ActionType.ViewNavigate || args.ActionType == ActionType.DateNavigate)
        {
            
            StateHasChanged();
        }
        else if (args.ActionType == ActionType.EventRemove && args.DeletedRecords?.Count > 0)
        {
            var c = args.DeletedRecords[0];

            // Detén el delete interno del control
            args.Cancel = true;

            // Borra en tu backend
            if (!string.IsNullOrEmpty(c.ObjectId))
                await CitasService.DeleteCitaAsync(c.ObjectId);

            // Quita del datasource y cierra editor
            scheduleEventData.RemoveAll(x => x.ObjectId == c.ObjectId);
            scheduleObj.CloseEditor();
            await LoadData();
            StateHasChanged(); 

        }
    }
    private async void OnCellClick(CellClickEventArgs args)
    {
        var nuevo = new CitasModel
        {
            PacienteTypeId = (int)TipoPaciente.Individual, // default
            StatusCitaId = 1,                             // requerido
            StartLocal = args.StartTime,                // tu setter ajusta FechaIni.Iso
            EndLocal = args.StartTime.AddHours(1),
            PsicoObjectId = empleadoActivo?.ObjectId,       // si tienes uno seleccionado
            PacienteObjectId = PacienteSeleccionadoId
        };

        await scheduleObj.OpenEditorAsync(nuevo, CurrentAction.Add);
    }
    private void OnEventRendered(EventRenderedArgs<CitasModel> args)
    {
        if (args?.Data is null) return;

        var (bg, bc, fg, strike) = GetStatusColor(args.Data);

        // Prepara/mezcla atributos de estilo
        var style = $"background:{bg};border-color:{bc};color:{fg};";
        if (strike) style += "text-decoration:line-through;opacity:0.9;";

        if (args.Attributes is null)
            args.Attributes = new Dictionary<string, object>();

        // Si ya hay un style previo, concaténalo
        if (args.Attributes.TryGetValue("style", out var existing) && existing is string prev && !string.IsNullOrWhiteSpace(prev))
            args.Attributes["style"] = prev.TrimEnd().TrimEnd(';') + ";" + style;
        else
            args.Attributes["style"] = style;
    }
    public async void NodeDragStop(DragAndDropEventArgs args)
    {
        args.Cancel = true;
        NuevoPaciente = true;
        var cellData = await scheduleObj.GetTargetCellAsync((int)args.Left, (int)args.Top);
        if (cellData is null) return;

        var nodeId = args.DraggedNodeData?.Id?.ToString();
        var src = waitingList?.FirstOrDefault(x => x.ObjectId == nodeId);
        if (src is null) return; // si tu waitingList no es CitasModel, adapta aquí

        // Fechas: ancla a la celda
        src.StartLocal = cellData.StartTime;
        src.EndLocal = (cellData.EndTime > cellData.StartTime)
                         ? cellData.EndTime
                         : cellData.StartTime.AddHours(1);

        // Terapeuta desde el renglón de recurso (si hay agrupación por "Terapeutas")
        try
        {
            var resInfo = scheduleObj.GetResourceByIndex(cellData.GroupIndex);
            var gd = resInfo?.GroupData;
            if (gd is not null)
            {
                var prop = gd.GetType().GetProperty("ObjectId") ?? gd.GetType().GetProperty("Id");
                var terapeutaId = prop?.GetValue(gd)?.ToString();
                if (!string.IsNullOrWhiteSpace(terapeutaId))
                    src.PsicoObjectId = terapeutaId;
            }
        }
        catch { /* ignore, usamos fallback si aplica */ }

        // Fallback: terapeuta activo
        if (string.IsNullOrWhiteSpace(src.PsicoObjectId) && empleadoActivo is not null)
            src.PsicoObjectId = empleadoActivo.ObjectId;

        // Quita de la waiting list visualmente
        waitingList?.RemoveAll(x => x.ObjectId == src.ObjectId);

        // UPSERT en el datasource del Scheduler preservando el ObjectId
        if (scheduleEventData is null) scheduleEventData = new();
        var idx = scheduleEventData.FindIndex(x => x.ObjectId == src.ObjectId);
        if (idx >= 0) scheduleEventData[idx] = src;
        else scheduleEventData.Add(src);


        // Abre el editor en modo EDICIÓN (no alta) para NO duplicar
        await scheduleObj.OpenEditorAsync(src, CurrentAction.Save);
    }
    #endregion

    #region FUNCIONES
    private async void OnEmpleadoChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, EmpleadosModel> args)
    {
        if (string.IsNullOrEmpty(args?.Value))
        {
            // Sin filtro por terapeuta → todas las citas
            empleadoActivo = null;
            horasEmpleadoActivo = null;
            semanaHoras = null;

            var citas = await CitasService.GetAllCitasAsync();
            scheduleEventData = citas?.OrderBy(c => c.StartLocal).ToList() ?? new();

            workDay = new int[] {  1, 2, 3, 4, 5,6};

            // refresca waiting list
            RefreshWaitingListFromCurrent(citas);

            StateHasChanged();
            return;
        }

        // Empleado activo
        empleadoActivo = resourceDataSource.FirstOrDefault(e => e.ObjectId == args.Value);

        // Trae WorkHours del empleado (si no tienes backend aún, aplica defaults desde tu servicio/Models)
@*         horasEmpleadoActivo = await EmployeService.GetWorkHoursByEmpleadoAsync(empleadoActivo.ObjectId);

        // Anclar a la semana visible y ajustar días laborales del calendario
        UpdateBreakHours(currentDate);
        workDay = horasEmpleadoActivo?.Rules?.Where(r => r.Enable).Select(r => (int)r.Day).Distinct().OrderBy(x => x).ToArray()
                  ?? new int[] { 0, 1, 2, 3, 4, 5, 6 };

 *@
        // Filtrar citas por terapeuta (CitasModel.PsicoObjectId)
        var todas = await CitasService.GetAllCitasAsync();
        scheduleEventData = todas?
            .Where(c => c.PsicoObjectId == empleadoActivo.ObjectId)
            .OrderBy(c => c.StartLocal)
            .ToList() ?? new();

        // Waiting list según el nuevo conjunto
        RefreshWaitingListFromCurrent(scheduleEventData);

        StateHasChanged();
    }
    private void MarcarConfirmar(CitasModel c)
    {
        // tu regla de negocio al “confirmar”
        // ej. StatusCitaId = 2 (confirmada), o bandera temporal:
        // c.StatusCitaId = 2;
        dialogPayVisible = true;
        editando = c;

    }
    private void ResetPacienteValues()
    {
        NuevoPaciente = true;
        PacienteSeleccionadoId = null;
    }

    private void AbrirReagendar(CitasModel c)
    {
        dialogReagendarVisible = true;
        editando = c;
        nuevoInicio = c.StartLocal;
        nuevoFin = c.EndLocal == default ? c.StartLocal.AddHours(1) : c.EndLocal;
    }
    private async Task ConfirmarReagendo()
    {
        if (editando is null) return;
        editando.StartLocal = nuevoInicio;
        editando.EndLocal = nuevoFin <= nuevoInicio ? nuevoInicio.AddHours(1) : nuevoFin;
        editando.StatusCitaId = 201;
        dialogReagendarVisible = false;
        // no guardamos aquí; el usuario sigue y presiona Save del editor
        await InvokeAsync(StateHasChanged);
    }
    private async Task ConfirmarPago()
    {
        if (editando is null) return;
        editando.StatusCitaId = 10;
        editando.IsPaid = true;
        editando.PayMethodId = Paymethod;
        dialogPayVisible = false;
        // no guardamos aquí; el usuario sigue y presiona Save del editor
        await InvokeAsync(StateHasChanged);
    }
    // Evento: cambio en DropDown de pacientes
    private void OnPacienteChanged(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, PacienteModel> args, CitasModel c)
    {
        PacienteSeleccionadoId = args?.Value;
        if (string.IsNullOrWhiteSpace(PacienteSeleccionadoId))
            return;

        var p = args?.ItemData ?? PacientesDS.FirstOrDefault(x => x.ObjectId == PacienteSeleccionadoId);
        if (p is null) return;

        // Al elegir un paciente, forzamos “no es nuevo”
        NuevoPaciente = false;

        // Rellena campos de la cita desde el paciente
        c.PacienteObjectId = p.ObjectId;
        c.PacienteNombre = p.PacienteNombre;
        c.PacienteEdad = p.PacienteEdad;
        c.PacienteCelular = p.PacienteCelular;
        c.PacienteTypeId = p.PacienteTypeId;
        c.PacienteObjectId = PacienteSeleccionadoId;
        c.MotivoConsulta = p.MotivoConsulta;


        // Si quieres traer “MotivoConsulta” guardado en ficha del paciente (opcional):
        // c.MotivoConsulta = p.MotivoHabitual ?? c.MotivoConsulta;

        StateHasChanged();
    }
    // Evento: cambio en DropDown de Tipo pacientes         (Syncfusion.Blazor.DropDowns.ChangeEventArgs t
    int IdpacType;
    private void OnPacienteTypeChanged(
    ChangeEventArgs<int, KeyValuePair<int, string>> e, CitasModel c)
    {
        // Con @bind ya se asignó, pero por claridad:
        c.PacienteTypeId = e.Value;

        // Si quieres usar el texto seleccionado:
        var item = e.ItemData;                 // KeyValuePair<int,string>
        var nombreTipo = item.Value;           // "Nuevo" | "Frecuente" | ...

        // Lógica tuya:
        NuevoPaciente = false;

        // (Opcional) si guardas el nombre del tipo en el modelo:
        // c.PacienteTipoNombre = nombreTipo;

        StateHasChanged();
    }

    // Evento: marcar / desmarcar “Paciente nuevo”
    private void OnNuevoPacienteChanged(bool isChecked, CitasModel c)
    {
        NuevoPaciente = isChecked;
        if (NuevoPaciente)
        {
            PacienteSeleccionadoId = null;
            LimpiarCamposPaciente(c);
        }
        StateHasChanged();
    }

    private static void LimpiarCamposPaciente(CitasModel c)
    {
        c.PacienteObjectId = null;
        c.PacienteNombre = string.Empty;
        c.PacienteEdad = 0;
        c.PacienteCelular = string.Empty;
        // Mantén tipo de paciente si quieres un valor por defecto, o pon 0/null:
        // c.PacienteTypeId = 0;
    }
    #endregion
    #region HELPERS UI
    private string getDateHeaderText(DateTime? date)
        => Service.GetFormatDate((DateTime)date, "ddd, MMMM d");

    private string getEventTime(CitasModel c)
        => $"{Service.GetFormatDate(c.StartLocal, "MMM d")}, {Service.GetFormatDate(c.StartLocal, "h:mm tt")}-{Service.GetFormatDate(c.EndLocal, "h:mm tt")}";

    private void RefreshWaitingListFromCurrent(List<CitasModel> citas)
    {
        waitingList = (citas ?? new())
            .Where(c => c.StatusCitaId == 2)
            .OrderBy(c => c.StartLocal)
            .ToList();
    }
    #endregion

    #region HORARIOS: ANCLAR A SEMANA VISIBLE (usa tus modelos)
    private void UpdateBreakHours(DateTime current)
    {
        if (horasEmpleadoActivo?.Rules is null || horasEmpleadoActivo.Rules.Count == 0)
        {
            semanaHoras = null;
            return;
        }

        var weekStart = Service.GetWeekFirstDate(current).Date;

        // Construimos los AnchoredWorkDay usando TUS clases en Models
        semanaHoras = horasEmpleadoActivo.Rules.Select(r =>
        {
            int delta = ((int)r.Day - (int)weekStart.DayOfWeek + 7) % 7;
            DateTime date = weekStart.AddDays(delta);

            return new AnchoredWorkDay
            {
                Day = r.Day,
                WorkStart = date.Date + r.WorkStart,
                WorkEnd = date.Date + r.WorkEnd,
                BreakStart = r.BreakStart.HasValue ? date.Date + r.BreakStart.Value : (DateTime?)null,
                BreakEnd = r.BreakEnd.HasValue ? date.Date + r.BreakEnd.Value : (DateTime?)null,
                Enable = r.Enable
            };
        }).ToList();
    }
    #endregion
    
    // ----------------- DISPOSE -----------------
    public void Dispose()
    {
        scheduleObj = null;
        ddlObj = null;
        CommonService.OnlineStatusChanged -= HandleOnlineChanged;
        _sigCts?.Cancel();
        _sigCts?.Dispose();

    }
}
